<a href="index.html" class="logo">
  <img src="serviblancoh y negro.png" alt="company logo" class="logo-img" />
</a>
<nav>
  <ul class="nav-menu">
    <li><a href="#">Blog</a></li>
    <li>
      <a href="#">Servicios</a>
      <ul class="dropdown">
        <li><a href="RepPuertas.html">Reparación de carpinteria</a></li>
        <li><a href="MueblesMedida.html">Muebles a medida</a></li>
        <li><a href="RepMuebles.html">Montaje de muebles</a></li>
        <li><a href="InstalarPuertas.html">Instalación de puertas</a></li>
      </ul>
    </li>
    <li><a href="Nosotros.html">Nosotros</a></li>
    <li><a href="Contacto.html">Contacto</a></li>
  </ul>
</nav>
<div class="botones-header">
  <button
    class="boton-header"
    style="background-image: url(Ayuda.png)"
    href=""
  ></button>
  <a href="tel:+34963471515"
    ><button
      class="boton-header"
      style="background-image: url(contacto.png)"
    ></button
  ></a>
  <button
    class="boton-header"
    style="background-image: url(cuenta.png)"
    href=""
  ></button>
</div>
