@font-face {
  font-family: "robotoflex";
  src: url(RobotoFlex.ttf);
}
body {
  margin: 0;
  position: relative;
  padding-bottom: 600px;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "robotoflex", Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  column-width: 625px;
  align-items: center;
  min-height: 130px;
  background-color: rgb(202, 09, 24);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 54px;
  margin-right: 15px;
}

/* Estilos básicos del menú */
.nav-menu {
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: none;
  font-weight: 700;
}

.nav-menu > li {
  position: relative; /* Para el posicionamiento del dropdown */
}

.nav-menu > li > a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

.nav-menu > li > a:hover {
  background-color: #c40918;
}

/* Estilos del dropdown */
.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Posiciona el dropdown relativo al li */
  top: 100%; /* Para que aparezca justo debajo del elemento padre */
  left: 0;
  display: none; /* Oculta el dropdown inicialmente */
  background-color: #c40918;
}

.dropdown li {
  width: 150px; /* Ancho del dropdown */
}

.dropdown li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.dropdown li a:hover {
  background-color: #555;
}

/* Mostrar el dropdown al pasar el mouse */
.nav-menu > li:hover .dropdown {
  display: block;
}

.botones-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.boton-header {
  width: 45.82px;
  height: 45.82px;
  border: none;
  border-radius: 25px;
  background-size: 70% 70%;
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.3s, opacity 0.3s;
  box-shadow: 0px 4px 4px 0px #000000;
}

.boton-header:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.boton-header img {
  max-width: 1px;
  max-height: 1px;
  object-fit: cover;
  margin: auto;
  display: block;
}

@media (min-width: 992px) {
  header {
    flex-direction: row;
    padding: 0px 30px;
    justify-content: space-between;
  }
}

footer {
  width: 100%;
  height: 530px;
  position: absolute;
  bottom: 0;
  left: 0px;
  gap: 0px;
  opacity: 1;
  background-color: #c50919;
  margin: 0 auto;
  padding-top: 70px;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #c50919;
}
.columna1 img {
  width: 283px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0px 15px;
}
.columna1 p {
  margin-top: 10px;
  margin-left: 20px;

  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: left;
  padding: 0px 15px;
}
.columna2 {
  margin-left: 50px;
}
.columna2 img {
  width: 569px;
  height: 302px;
  margin-top: 20px;
  margin-left: 10px;
  gap: 0px;
  border-radius: 23px;
  opacity: 0px;
  padding: 0px 15px;
}
.columna2 p {
  color: white;

  margin-top: 10px;
  margin-left: 10px;

  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  text-align: left;
  padding: 0px 15px;
}
.columna2 h1 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 1000;
  line-height: 28.44px;
  text-align: left;
  color: white;
  padding: 10px 15px;
}
.columna3 {
  margin-left: 70px;
}
form {
  text-align: center;
  border: none;
  margin-left: 20px;
}
.Inputt {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  width: 100%;
}
form h1 {
  color: white;
  font-family: "robotoflex";
  font-size: 24px;
  font-weight: 1000;
  line-height: 28.44px;
  text-align: center;
}
input {
  padding: 20px 25px;
  margin-bottom: 20px;
  background-color: #c40918;
  border: 2px solid #ffffff;
  color: #ffffff;
}
input::placeholder {
  color: aliceblue;
}
.btn {
  width: Hug (98px) px;
  height: Fixed (40px) px;
  gap: 8px;
  border-radius: 100px;
  opacity: 0px;
  color: #c40918;
  background-color: white;
  font-weight: 500;
  text-align: center;
}
.btn:hover {
  background-color: rgb(243, 241, 240);
  cursor: pointer;
}
.puertas {
  margin-bottom: 50px;
}
.puertas h1 {
  font-size: 60px;
  font-weight: 1045px;
  text-align: center;
  color: #c40918;
  font-family: "robotoflex";
}
.puertass {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  padding: 2em;
}
.puertass img {
  width: 50%;
  max-height: 400px;
  border-radius: 20px;
}
.puertass p {
  padding: 0.5em;
  font-weight: 400;
  font-size: 24px;
  width: 600px;
}
.puertass h2 {
  color: #c40918;
  text-align: center;
}
.puertass a {
  text-decoration: none;
  color: crimson;
}
.puertasa {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 30px;
  gap: 150px;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}
.puertasa img {
  width: 600px;
  height: auto;
  border-radius: 20px;
}
.puertasa p {
  font-weight: 400;
  font-size: 24px;
  width: 600px;
}
.puertasa h2 {
  color: #000000;
  text-align: left;
}

.lista {
  color: #c40918;
  font-size: 24px;
  font-weight: 500;
}
.port {
  margin-bottom: 40px;
}
.port p {
  text-align: center;
  font-size: 24px;
  justify-content: center;
  width: 800px;
  height: auto;
  margin: 0 auto;
}

.port h1 {
  font-size: 60px;
  font-weight: 1045px;
  text-align: center;
  color: #c40918;
}
.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.tcol {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-left: 70px;
  justify-content: center;
  align-items: flex-start;
}
.tcol button {
  color: #c50919;
  background-color: white;
  border-radius: 40px;
  border-color: #c50919;
  height: auto;
  font-size: 30px;
  margin: 40px auto;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  max-width: 450px;
  align-self: center;
  transition: color 0.3s, background-color 0.3s;
}
.tcol button:hover {
  background-color: crimson;
  color: white;
  box-shadow: #000000;
}

.tcol img {
  max-width: 450px;
  border-radius: 30px;
  height: 300px;
  align-content: center;
  justify-content: center;
  top: 0;
}
.tcol p {
  max-width: 450px;
  text-align: left;
  font-size: 20px;
  justify-content: center;
}
.tflex {
  display: flex;
  flex-direction: column;
}
.telf {
  text-decoration: none;
  color: #c40918;
  cursor: pointer;
  transition: opacity 0.3s;
}
.telf:hover {
  opacity: 0.7;
}
@media (max-width: 992px) {
  .tcol {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .tcol img {
    margin: 0 auto;
  }
  .tcol p {
    margin: 0 auto;
  }
  .puertass {
    flex-direction: column;
    margin: 0 auto;
  }
  .footer-row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
/*Configurando estilos para configuración pedida por el cliente*/

/*Configuración móvil*/
.header {
  position: sticky;
  top: 0;
  z-index: 9996;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav {
  display: none;
}
/*
Configurando menu hamburguesa
*/
.hamburger {
  padding: 1em;
  border-radius: 100%;
  margin: 1em;
  z-index: 9999;
}

.nav-mobile {
  background-color: rgb(202, 09, 24);
  width: 100vw;
  padding: 1em 0;
  justify-content: center;

  display: flex;
  position: absolute;
  transform: translateY(50%);
  transition: transform 0.8s ease;
  z-index: 0;
  & > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    & li {
      & a {
        text-decoration: none; /* Elimina el subrayado */
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
.dropdown-mobile {
  display: none;
}

.is-active-nav {
  transform: translateY(75%);
  z-index: 999999;
}
.nav-mobile {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-mobile {
  display: none;
}
.button-nav,
.active-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;

  & > button {
    background-color: rgb(202, 09, 24);
    border: none;
    & > a {
      text-decoration: none;
    }
  }
}
a {
  color: #fff;
  font-size: large;
  font-weight: bold;
}

.servicio {
  display: block;
  text-align: center;
  text-decoration: none;
}
p {
  font-size: medium;
}

/*Configurar Formulario*/
.columna3 {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 5em 0;
  padding: 2em;
  height: 400px;
  & iframe {
    background-color: #fff;
    height: 500px;
    display: block;
    width: 70%;
    border-radius: 5px;
  }
}
/*Configuración escritorio*/
@media only screen and (min-width: 600px) {
  .columna3 {
    & form {
      width: 40%;
    }
  }
  .nav {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
}
